---
title: CKG
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen Knowledge Graph</title>
    <link rel="stylesheet" href="{% rootPath %}css/bundle.css">
    <style>
        .lang {
          text-align: right;
          padding: 40px;
        }
    </style>
    <script>
    function toggleMenu() {
        var links = document.getElementById("navbar-links");
        var hamburger = document.getElementById("hamburger-icon");
        if (links.style.display === "flex") {
            links.style.display = "none";
        } else {
            links.style.display = "flex";
            links.style.flexDirection = "column";
            hamburger.style.display = "none";
        }
    }
    </script>
</head>
<body>

    <header class="fixed-navbar">
        <div class="header-container">

            <!-- Hamburger Icon -->
            <div id="hamburger-icon" onclick="toggleMenu()">
              <div></div>
              <div></div>
              <div></div>
            </div>

            <!-- Navigation Menu -->
            <nav class="navbar" id="navbar-links">
                <a class="home-name" href="/">Titlo</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <!-- ... other links ... -->
            </nav>

            <!-- Language Selection -->
            <div class="language-selection">
                <a href="{% rootPath %}">DE</a> / <a href="{% rootPath %}en">EN</a>
            </div>
        </div>
    </header>

    <!-- 2. Central Scrollable Element -->
    <div class="central-container">
        {{ content | safe }}
    </div>
</body>
</html>
