/* Reset some default styles for better consistency */
body, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* Fixed Navbar */
.fixed-navbar {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background-color: #273746;
    border-bottom: 1px solid white; /* White bottom border */
    z-index: 1000; /* ensures the navbar stays on top of other elements */
    color: white;
}

.header-container {
    padding-left: 20%;
    padding-right: 20%;
    max-width: 70%;
    margin: 0 auto; /* centers the navbar content */
    display: flex;
    justify-content: space-between; /* space out logo, nav, and language selection */
    align-items: baseline;
}

/* Fixed Navbar */
.navbar {
    z-index: 10;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: baseline;
}

.navbar a {
    text-decoration: none;
    margin-right: 30px;
    color: white;
}

.home-name {
    font-size: 30px;
    font-weight: bold;
}

.header-container a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-container a:last-child {
    margin-right: 0;
}

.header-container a:hover {
    text-decoration: underline;
}

/* Hamburger Icon - Initially hidden */
#hamburger-icon {
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    margin: 5px;
    width: 35px;
    height: 3px;
    background-color: white;
}

/* Central Scrollable Element */
.central-container {
    position: relative;
    z-index: 1;
    padding-top: 94px; /* Adjust according to navbar's height */
    padding-left: 20%; /* Left padding */
    padding-right: 20%; /* Right padding */
    max-width: 70%; /* Or adjust according to your needs */
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll; /* For vertical scrolling */
    height: calc(100vh - 60px); /* Adjust according to navbar's height */
    border: none;
    background-color: white;
}

.site-element {
    min-height: 345px;
    margin: 0 0 0 0;
    padding-bottom: 40px;
    display: flex;
}

.site-element h3 {
    font-size: 50px;
    color: #273746;
    margin: 0 0 0 0;
}

.site-element p {
    margin: 0 0 0 0;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #273746;
    margin-bottom: 10px;
}

.banner-sub-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4ab7ff;
    margin: 0 0 0 0;
}

.banner-element {}

.idee-banner {}

.team-banner {}

.partner-banner {}

@media (max-width: 640px) {
    /* Hamburger Icon */
    #hamburger-icon {
        display: block;
    }

    .navbar {
        display: none;
    }

    /* Typically, 768px is a breakpoint for tablets, adjust if needed */
    .banner-title {
        font-size: 3.5rem;
        font-weight: bold;
    }

    .site-element h3 {
        margin: 0 0 0 0;
    }

    .site-element p {
        color: black;
        margin: 0 0 0 0;
    }

    .header-container {
        padding-left: 7%;
        padding-right: 7%;
        max-width: 90%;
    }

    .central-container {
        padding-left: 7%; /* Reduce padding for smaller screens */
        padding-right: 7%; /* Reduce padding for smaller screens */
        max-width: 90%; /* Or adjust according to your needs */
    }
}