/* Reset some default styles for better consistency */
body, p, a {
    margin: 0;
    padding: 0;
    color: #FF624A;
    font-family: Arial, sans-serif;
}

/* Fixed Navbar */
.fixed-navbar {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background-color: #fff; /* or any color that fits your design */
    z-index: 1000; /* ensures the navbar stays on top of other elements */
}

.header-container {
    padding-left: 20%;
    padding-right: 20%;
    max-width: 70%;
    margin: 0 auto; /* centers the navbar content */
    display: flex;
    justify-content: space-between; /* space out logo, nav, and language selection */
    align-items: center; /* vertically aligns items in the navbar */
}

/* Fixed Navbar */
.navbar {
    background-color: white;
    z-index: 10;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    margin-right: 30px;
}

.header-container a {
    font-weight: bold;
    text-decoration: none;
}

.header-container a:last-child {
    margin-right: 0;
}

.header-container a:hover {
    text-decoration: underline;
}

/* Central Scrollable Element */
.central-container {
    margin-top: 0; /* Adjust according to navbar's height */
    padding-top: 60px;
    padding-left: 20%; /* Left padding */
    padding-right: 20%; /* Right padding */
    max-width: 70%; /* Or adjust according to your needs */
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll; /* For vertical scrolling */
    height: calc(100vh - 60px); /* Adjust according to navbar's height */
    border: none; /* Remove the border or outline */
    background-color: #ffffff; /* Set the background color of the central container to white (or any other color you want) */
}

.central-container p {
    margin-bottom: 20px; /* Space between paragraphs or content */
}

.title-header {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 0 0;
    color: darkblue;
}

.slogan-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}

@media (max-width: 768px) {  /* Typically, 768px is a breakpoint for tablets, adjust if needed */
    .central-container {
        padding-left: 7%;  /* Reduce padding for smaller screens */
        padding-right: 7%; /* Reduce padding for smaller screens */
        max-width: 90%; /* Or adjust according to your needs */
    }
}

.site-element {
    height: calc((1/3) * (100vh - 60px)); /* Adjust according to navbar's height */
    margin: 0 0 0 0;
}

.banner-element {
    height: 100%;
    position: relative;
}

.banner-element::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/graph_dalle_v1.png');
    background-size: cover; /* or whatever fits your needs */
    opacity: 0.5;
}

.title-banner {
    font-size: 100px;
    font-weight: bold;
    opacity: 1.0;
    z-index: 1;
    position: relative;
}

.idee-banner {
    height: 100%;
}

.idee-title {
    font-size: 50px;
    margin: 0 0 0 0;
}

.idee-text {
    font-size: 20px;
    color: black;
}

.team-banner {}

.team-title {
    font-size: 50px;
    margin: 0 0 0 0;
}

.team-text {
    font-size: 20px;
    color: black;
}