---
layout: layout.njk
---
<div>
    {% includeTemplate %}
    <div class=team-banner>
      <h3 class=team-title>Das Team</h3>
      <p class=team-text>Wir sind alle drei <a href="https://digitalservice.bund.de/fellowships/tech4germany">Tech4Germany</a> Alumni. <a href="https://github.com/benjaminaaron">Benjamin</a> arbeitet aktuell als Softwareentwickler im Projekt "Neues Rechtsinformationssystem" beim DigitalService. <a href="https://espinosaureta.com/">Vanessa</a> verbessert bei ifok digitale Dienstleistungen der Verwaltung. Und <a href="https://github.com/wbglaeser">Ben</a> entwickelt als Data Engineer Machine Learning Modelle bei SoundCloud. Kontakt: <a href="mailto:citizenknowledgegraph@googlegroups.com">citizenknowledgegraph@googlegroups.com</a></p>
    </div>
    {% endincludeTemplate %}
</div>
