---
layout: layout.njk
---
<div>
    {% includeTemplate %}
    <div class=partner-banner>
      <h3 class=partner-title>Die Suche nach Daten und Partnern</h3>
      <p class=partner-text>Aktuell sind wir auf der Suche nach Datenquellen, die wir für einen ersten prototypischen Durchstich der Idee verwenden können - je strukturierter diese Daten vorliegen, desto besser. Wir möchten realen Bürger:innen einen realen Mehrwert liefern, indem wir ihnen Angebote des Staates oder ihrer Kommunen nahebringen, zu denen sie berechtigt sind und von denen sie aber ggf. noch nicht wissen. Dies können konkrete Fördermaßnahmen wie beispielsweise der Kinderzuschlag sein, aber auch Weiterbildungen, Möglichkeiten des sozialen Engagements und vieles mehr. Wir freuen uns auch sehr, wenn jemand Interesse hat, den eigenen "Datenbereich" mit einzubringen und gemeinsam zu schauen, wie wir damit Mehrwert schaffen können.</a></p>
    </div>
    {% endincludeTemplate %}
</div>
