---
layout: layout.njk
---
<div>
    {% includeTemplate %}
    <div class=banner-element>
      <h1 class="banner-title">Kenne deine Rechte</h1>
      <h2 class="banner-sub-title">Und lass dir keine Förderleistung mehr entgehen</h2>
    </div>
    {% endincludeTemplate %}

    {% includeTemplate %}
    <div class=idee-banner>
      <p class=idee-text>Wir alle haben Anspruch auf unzählige Förderleistung und Unterstützungsangebote. Doch die
      wenigstens von uns kennen sie. Wir helfen dir, die Unterstützung zu finden, die dir zusteht.</p>
    </div>
    {% endincludeTemplate %}
</div>
